<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" th:href="@{/favicon.ico}"/>

  <title>Option Trader</title>
</head>
<body>
<div class="container">
  <div class="row m-4">
    <div class="col text-center m-4">
      <div class="col text-center border border-dark">
        <h1>Option Trader</h1>
        <a class="btn btn-outline-primary mb-3" th:href="@{/logout}">Logout</a>
      </div>
      <h2>Welcome, <span th:text = "${userdetails.getName()}"/>
      </h2>

      <div class="col text-center m-3">
        <a th:href="@{/stockprices}" class="btn btn-outline-primary btn-lg">Stock Prices and Chart</a>
        <a th:href="@{/buyoption}" class="btn btn-outline-primary btn-lg">Purchase an Option</a>

      </div>
      <div class="col text-center m-3">
        <h3>Your current Balance is: £<span th:text = "${balance}"/></h3>
      </div>

    </div>
  </div>


  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <h3>Active Options</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Strike Price</th>
          <th>Purchase Price</th>
          <th>Expiry Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="option : ${options}">
          <td th:text="${option.id}">ID</td>
          <td th:text="${option.optionType} ? 'Call' : 'Put'" >Type</td>
          <td th:text="'£'+${option.strikePrice}">Strike Price</td>
          <td th:text="'£'+${option.price}">Purchase Price</td>
          <td th:text="${option.expiryDate}">Expiry Date</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <h3>Expired Options</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Strike Price</th>
          <th>Purchase Price</th>
          <th>Expiry Date</th>
          <th>Outcome</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="option : ${options}">
          <td th:text="${option.id}">ID</td>
          <td th:text="${option.optionType} ? 'Call' : 'Put'" >Type</td>
          <td th:text="'£'+${option.strikePrice}">Strike Price</td>
          <td th:text="'£'+${option.price}">Purchase Price</td>
          <td th:text="${option.expiryDate}">Expiry Date</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>